@use "./variables" as *;

@media screen and (min-width: 426px) {
  .navbar {
    display: block;
    font-family: $font-primary;
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    padding: 20px 10px 100px 10px;

    .navbar__name {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .navbar__right {
      scroll-behavior: smooth;
      font-weight: 600;

      .navbar__get-in-touch {
        border: solid 1px $color-primary;
        border-radius: 10px;
        padding: 10px;
      }
    }
  }

  .greeting {
    padding: 30px;
    padding-bottom: 0;
  }

  .header {
    padding-bottom: 150px;
    .header__intro {
      padding-left: 30px;
      padding-top: 10px;
    }
    .header__picture {
      display: block;
      margin-left: auto;
      width: 300px;
      height: 300px;
      justify-content: center;
      align-items: center;
      padding-right: 30px;
    }
  }

  .heading {
    font-size: 2rem;
  }

  img.profile {
    height: 672px;
    width: 488px;
  }

  .text {
    font-size: 1.5rem;
  }

  .skills {
    .skills__heading {
      font-size: 2rem;
    }
    .skills__paragraph {
      font-size: 1.2rem;
    }
    .skills__images {
      display: block;
      padding-right: 25px;
    }
  }

  .projects {
    #projects {
      font-size: 2rem;
    }

    h4 {
      text-align: center;
      padding-right: 100px;
    }
    .cards {
      padding-top: 40px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;

      .card__buttons {
        padding-right: 30px;
      }
    }
  }

  h6 {
    font-size: 1.5rem;
    color: $color-secondary;
    text-align: center;
    padding-bottom: 20px;
  }

  .footer {
    display: flex;
    p.footer__email {
      font-size: 1.5rem;
    }
    img.footer__icons {
      height: 30px;
      width: 30px;
    }
  }
}
