$font-primary: "Poppins";
$font-secondary: "Poppins";
$font-third: "Poppins ExtraLight 200 Italic";
$font-fourth: "Poppins SemiBold 600";
$color-primary: #000000;
$color-secondary: #ff0028;
$color-third: #fcfcfc;
