@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Playfair+Display:wght@500&family=Poppins:ital,wght@0,300;0,600;1,200&family=Roboto&display=swap");
* {
  font-family: "Poppins";
  background-color: #121212;
  color: #fcfcfc;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
html a:link {
  text-decoration: none;
}
html a:visited {
  text-decoration: none;
}
html a:hover {
  -webkit-text-decoration: red;
          text-decoration: red;
}
html a:active {
  text-decoration: none;
}

.navbar {
  display: none;
}

.header {
  display: flex;
}
.header .header__intro {
  color: #fcfcfc;
  font-family: "Poppins";
  font-size: 2.5rem;
  justify-content: center;
  align-items: center;
  padding: 80px 0px 200px 0px;
  margin-left: 30px;
}
.header .header__picture {
  display: none;
}

.skills {
  text-align: center;
}
.skills .skills__heading {
  font-family: "Poppins";
  font-size: 1.5rem;
  color: #87ceeb;
  padding-top: 200px;
}
.skills .skills__paragraph {
  font-size: 1rem;
  padding-top: 20px;
}
.skills .skills__images {
  color: #fcfcfc;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding-left: 15px;
}
.skills .skills__images .skills__image01 {
  grid-area: 1/1/2/2;
}
.skills .skills__images .skills__image02 {
  grid-area: 1/2/2/3;
}
.skills .skills__images .skills__image03 {
  grid-area: 1/3/2/4;
}
.skills .skills__images .skills__image04 {
  grid-area: 2/1/3/2;
}
.skills .skills__images .skills__image05 {
  grid-area: 2/2/3/3;
}
.skills .skills__images .skills__image06 {
  grid-area: 2/3/3/4;
}
.skills .skills__images .skills__image07 {
  grid-area: 3/1/4/2;
}
.skills .skills__images .skills__image08 {
  grid-area: 3/2/4/3;
}
.skills .skills__images .skills__image09 {
  grid-area: 3/3/4/4;
}

.projects {
  color: #fcfcfc;
  padding: 200px 0px 20px 40px;
}
.projects h4 {
  font-family: "Poppins";
  font-size: 1.75rem;
  color: #87ceeb;
  padding: 60px 0px 0px 40px;
}
.projects .cards {
  padding-right: 25px;
}
.projects .card {
  margin-bottom: 30px;
}
.projects .card .card:hover {
  opacity: 1;
}
.projects .card__img {
  width: 240px;
  height: 270px;
  padding: 40px 0px 20px 0px;
}
.projects .card__text {
  line-height: 25px;
  margin-top: 5px;
}
.projects .card__text--top {
  font-size: 1rem;
  font-weight: bold;
}
.projects .card__heading {
  color: #87ceeb;
  margin-top: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}
.projects .card__buttons {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px 0px 0px;
}
.projects .card__button {
  text-decoration: none;
  background-color: #121212;
  height: 30px;
  width: 90px;
  border: solid 1px;
  border-radius: 5px;
}

.footer {
  height: 150px;
  width: 100%;
  font-size: 12px;
  background-color: #87ceeb;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
.footer p.footer__email {
  background-color: #87ceeb;
  color: #fcfcfc;
  font-size: 1rem;
  opacity: 1;
}
.footer div {
  background-color: #87ceeb;
}
.footer div .footer__icons {
  height: 25px;
  width: 25px;
  border-radius: 30px;
}
.footer div a {
  background-color: #87ceeb;
}
.footer p.footer__bottom {
  background-color: #87ceeb;
  color: #fcfcfc;
  font-size: 0.75rem;
  opacity: 1;
  width: 60px;
}

.greeting {
  color: #87ceeb;
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: bolder;
  padding-top: 50px;
  margin-left: 30px;
}

.heading {
  color: #87ceeb;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}

.heading2 {
  display: none;
}

img.profile {
  height: 412px;
  width: 299px;
  padding-bottom: 10px;
  margin-left: 15px;
}

.steps {
  padding: 0px 0px 80px 15px;
}
.steps p {
  font-weight: 600;
}

.italic {
  padding: 0px 0px 80px 0px;
}
.italic p {
  font-size: 1rem;
  font-style: italic;
  padding-left: 15px;
}

.text {
  padding-left: 15px;
}

h6 {
  font-size: 1rem;
  color: #87ceeb;
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (min-width: 321px) {
  .navbar {
    display: block;
    font-family: "Poppins";
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    padding: 20px 10px 200px 10px;
  }
  .navbar .navbar__name {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .navbar .navbar__right {
    scroll-behavior: smooth;
    font-weight: 600;
  }
  .navbar .navbar__right .navbar__get-in-touch {
    color: #87ceeb;
    border: solid 1px #fcfcfc;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
  }
  .greeting {
    padding: 30px;
    padding-bottom: 0;
    font-size: 1.3rem;
  }
  .header {
    padding-bottom: 150px;
  }
  .header .header__intro {
    padding: 10px 30px 0px 0px;
  }
  .header .header__picture {
    display: block;
    margin-left: auto;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
  }
  .about-me {
    display: flex;
  }
  .about-me .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    display: none;
  }
  .heading2 {
    color: #87ceeb;
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 50px;
    margin-right: 250px;
  }
  img.profile {
    height: 672px;
    width: 488px;
  }
  .italic {
    margin-right: 175px;
    padding-bottom: 10px;
  }
  .italic p {
    font-size: 1.5rem;
  }
  .text {
    font-size: 1.35rem;
    padding-left: 40px;
  }
  .skills .skills__heading {
    font-size: 2.5rem;
    padding-top: 100px;
  }
  .skills .skills__paragraph {
    font-size: 1.2rem;
  }
  .skills .skills__images {
    display: flex;
    justify-content: space-around;
    padding-right: 25px;
  }
  .projects {
    padding-top: 200px;
  }
  .projects #projects {
    font-size: 2.5rem;
  }
  .projects h4 {
    text-align: center;
    padding-right: 100px;
  }
  .projects .cards {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .projects .cards .card__buttons {
    padding-right: 30px;
    margin-right: 50px;
  }
  h6 {
    font-size: 2rem;
    color: #87ceeb;
    text-align: center;
    padding-bottom: 20px;
  }
  .footer {
    display: flex;
    flex-direction: row;
  }
  .footer p.footer__email {
    font-size: 1.5rem;
  }
  .footer img.footer__icons {
    height: 40px;
    width: 40px;
  }
  .footer p.footer__bottom {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1025px) {
  .heading2 {
    font-size: 3rem;
    margin-right: 625px;
  }
  .italic {
    margin-right: 605px;
  }
  .text {
    font-size: 2rem;
  }
  .footer {
    padding-left: 180px;
  }
}/*# sourceMappingURL=main.css.map */